# Configuration file

clipboard {
    I:0 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        2
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        60
        120
        -38
        99
        98
        -110
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        47
        74
        44
        46
        -74
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        101
        16
        67
        -111
        -50
        -55
        47
        47
        46
        -55
        -49
        75
        -75
        103
        -88
        97
        97
        97
        96
        96
        0
        0
        -83
        55
        20
        104
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


