# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    I:stoneChiselUses=8384
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:aroma1997.core.block.AromicBlock=true
    B:aroma1997.world.StickyOre=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPLog=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPStone=true
    B:com.blakebr0.mysticalagriculture.blocks.BaseBlock=true
    B:com.blakebr0.mysticalagriculture.blocks.BlockWitherproofBlock=true
    B:com.blakebr0.mysticalagriculture.blocks.ore.BlockInferiumOre=true
    B:com.blakebr0.mysticalagriculture.blocks.ore.BlockProsperityOre=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.raoulvdberge.refinedstorage.block.BlockMachineCasing=true
    B:de.ellpeck.actuallyadditions.mod.blocks.BlockColoredLamp=true
    B:de.ellpeck.actuallyadditions.mod.blocks.BlockCrystal=true
    B:de.ellpeck.actuallyadditions.mod.blocks.BlockGeneric=true
    B:de.ellpeck.actuallyadditions.mod.blocks.BlockLampPowerer=true
    B:de.ellpeck.actuallyadditions.mod.blocks.BlockMisc=true
    B:mcjty.deepresonance.blocks.MachineFrame=true
    B:mcjty.deepresonance.blocks.ore.DenseObsidianBlock=true
    B:mcjty.deepresonance.blocks.ore.ResonatingOreBlock=true
    B:mcjty.deepresonance.blocks.poisondirt.PoisonedDirtBlock=true
    B:mcjty.deepresonance.blocks.radiationsensor.RadiationSensorBlock=true
    B:mcjty.rftools.blocks.MachineBase=true
    B:mcjty.rftools.blocks.MachineFrame=true
    B:mcjty.rftools.blocks.ores.DimensionalShardBlock=true
    B:mcjty.rftools.blocks.teleporter.DestinationAnalyzerBlock=true
    B:mcjty.rftools.blocks.teleporter.MatterBoosterBlock=true
    B:mcjty.rftoolsdim.blocks.probe.ActivityProbeBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalBlankBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalCross2Block=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalCrossBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalPattern1Block=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalPattern2Block=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalSmallBlocks=true
    B:mod.flatcoloredblocks.block.BlockFlatColored=true
    B:mod.flatcoloredblocks.block.BlockFlatColoredTranslucent=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockHugeMushroom=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:techreborn.blocks.BlockFusionCoil=true
    B:techreborn.blocks.BlockMachineFrame=true
    B:techreborn.blocks.BlockOre=true
    B:techreborn.blocks.BlockOre2=true
    B:techreborn.blocks.BlockRubberPlank=true
    B:techreborn.blocks.BlockStorage=true
    B:techreborn.blocks.BlockStorage2=true
    B:xyz.vsngamer.elevator.blocks.BlockElevator=true
}


"integration settings" {
    B:ShowBitsInJEI=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:enableAPITestingItem=false
    B:logTileErrors=false
}


