# Configuration file

armors {

    superstararmor {

        effects {
            # Enable/Disable The Full Super Star Armor Effect
            B:enableFullSuperStarArmorEffect=true

            # Enable/Disable The Super Star Boots Regeneration
            B:enableSuperStarBRegen=false

            # Enable/Disable The Super Star Chestplate Regeneration
            B:enableSuperStarCRegen=false

            # Enable/Disable The Super Star Helmet Regeneration
            B:enableSuperStarHRegen=false

            # Enable/Disable The Super Star Leggings Regeneration
            B:enableSuperStarLRegen=false
        }

        effectlevel {
            # Set the level of the Regeneration effect by the Super Star Armor.
            I:superstarArmorEffectlevel=1
        }

        recipes {
            # Enable/Disable The Super Star Armor Recipes
            B:enableSuperStarArmorRecipes=true
        }

    }

    lavaarmor {

        effects {
            # Enable/Disable The Full Lava Armor Effect
            B:enableFullLavaArmorEffect=true

            # Enable/Disable The Lava Boots Resistance and Fire Resistance
            B:enableLavaBEffects=false

            # Enable/Disable The Lava Chestplate Resistance and Fire Resistance
            B:enableLavaCEffects=false

            # Enable/Disable The Lava Helmet Resistance and Fire Resistance
            B:enableLavaHEffects=false

            # Enable/Disable The Lava Leggings Resistance and Fire Resistance
            B:enableLavaLEffects=false
        }

        recipes {
            # Enable/Disable The Lava Armor Recipes
            B:enableLavaArmorRecipes=true

            # Enable/Disable The Old Lava Armors Recipes
            B:enableOldLavaArmorRecipes=false
        }

    }

    obsidianarmor {

        effects {
            # Enable/Disable The Full Obsidian Armor Effect
            B:enableFullObsidianArmorEffect=true

            # Enable/Disable The Obsidian Boots Resistance
            B:enableObsidianBResistance=false

            # Enable/Disable The Obsidian Chestplate Resistance
            B:enableObsidianCResistance=false

            # Enable/Disable The Obsidian Helmet Resistance
            B:enableObsidianHResistance=false

            # Enable/Disable The Obsidian Leggings Resistance
            B:enableObsidianLResistance=false
        }

        effectlevel {
            # Set the level of the Resistance effect by the Obsidian Armor.
            I:obsidianArmorEffectlevel=0
        }

        recipes {
            # Enable/Disable The Obsidian Armor Recipes
            B:enableObsidianArmorRecipes=true
        }

    }

    emeraldarmor {

        effects {
            # Enable/Disable The Emerald Boots Haste
            B:enableEmeraldBHaste=false

            # Enable/Disable The Emerald Chestplate Haste
            B:enableEmeraldCHaste=false

            # Enable/Disable The Emerald Helmet Haste
            B:enableEmeraldHHaste=false

            # Enable/Disable The Emerald Leggings Haste
            B:enableEmeraldLHaste=false

            # Enable/Disable The Full Emerald Armor Effect
            B:enableFullEmeraldArmorEffect=true
        }

        effectlevel {
            # Set the level of the Haste effect by the Emerald Armor.
            I:emeraldArmorEffectlevel=1
        }

        recipes {
            # Enable/Disable The Emerald Armor Recipes
            B:enableEmeraldArmorRecipes=true
        }

    }

    redstonearmor {

        effects {
            # Enable/Disable The Full Redstone Armor Effect
            B:enableFullRedstoneArmorEffect=true

            # Enable/Disable The Redstone Boots Speed
            B:enableRedstoneBSpeed=false

            # Enable/Disable The Redstone Chestplate Speed
            B:enableRedstoneCSpeed=false

            # Enable/Disable The Redstone Helmet Speed
            B:enableRedstoneHSpeed=false

            # Enable/Disable The Redstone Leggings Speed
            B:enableRedstoneLSpeed=false
        }

        effectlevel {
            # Set the level of the Swiftness effect by the Redstone Armor.
            I:redstoneArmorEffectlevel=1
        }

        recipes {
            # Enable/Disable The Redstone Armor Recipes
            B:enableRedstoneArmorRecipes=true
        }

    }

    lapisarmor {

        effects {
            # Enable/Disable The Full Lapis Armor Effect
            B:enableFullLapisArmorEffect=true

            # Enable/Disable The Lapis Boots Water Breathing
            B:enableLapisBBreathing=false

            # Enable/Disable The Lapis Chestplate Water Breathing
            B:enableLapisCBreathing=false

            # Enable/Disable The Lapis Helmet Water Breathing
            B:enableLapisHBreathing=false

            # Enable/Disable The Lapis Leggings Water Breathing
            B:enableLapisLBreathing=false
        }

        recipes {
            # Enable/Disable The Lapis Armor Recipes
            B:enableLapisArmorRecipes=true
        }

    }

    coalarmor {

        effects {
            # Enable/Disable The Coal Boots NightVision
            B:enableCoalBNightVision=false

            # Enable/Disable The Coal Chestplate NightVision
            B:enableCoalCNightVision=false

            # Enable/Disable The Coal Helmet NightVision
            B:enableCoalHNightVision=false

            # Enable/Disable The Coal Leggings NightVision
            B:enableCoalLNightVision=false

            # Enable/Disable The Full Coal Armor Effect
            B:enableFullCoalArmorEffect=true
        }

        recipes {
            # Enable/Disable The Charcoal Coal Armor Recipes
            B:enableCharcoalCoalArmorRecipe=false

            # Enable/Disable The Coal Armor Recipes
            B:enableCoalArmorRecipes=true
        }

    }

    theultimatearmor {

        effectlevel {
            # Set the level of the Regeneration effect by The Ultimate Armor.
            I:ultimateArmorEffectlevel=1
        }

        ability {
            # Enable/Disable The Ultimate Armor Invincibility
            B:enableTheUltimateArmorInvincibility=false
        }

        debuffs {
            # Enable/Disable The Ultimate Armor DeBuffs
            B:enableTheUltimateArmorDeBuffs=true
        }

        recipes {
            # Enable/Disable The Ultimate Armor Recipes
            B:enableTheUltimateArmorRecipes=true
        }

    }

    arditearmor {

        effects {
            # Enable/Disable Ardite Armor Effects
            B:enableArditeArmorEffects=true
        }

        recipes {
            # Enable/Disable The Ardite Armors Recipes
            B:enableArditeArmorRecipes=true
        }

    }

    cobaltarmor {

        effects {
            # Enable/Disable Cobalt Armor Effects
            B:enableCobaltArmorEffects=true
        }

        recipes {
            # Enable/Disable The Cobalt Armors Recipes
            B:enableCobaltArmorRecipes=true
        }

    }

    manyullynarmor {

        effects {
            # Enable/Disable Manyullyn Armor Effects
            B:enableManyullynArmorEffects=true
        }

        recipes {
            # Enable/Disable The Manyullyn Armors Recipes
            B:enableManyullynArmorRecipes=true
        }

    }

    pigironarmor {

        effects {
            # Enable/Disable Knight Slime Armor Effects
            B:enableKnightSlimeArmorEffects=true

            # Enable/Disable Manyullym Armor Effects
            B:enablePigIronArmorEffects=false
        }

        recipes {
            # Enable/Disable The Knight Slime Armors Recipes
            B:enableKnightSlimeArmorRecipes=true

            # Enable/Disable The Pig Iron Armors Recipes
            B:enablePigIronArmorRecipes=true
        }

    }

    enderdragonarmor {

        recipes {
            # Enable/Disable The Ender Dragon Chestplate to require 2 x Elytras instead of 2 x End Crystals to craft
            B:enableEnderDragonArmorElytra=false

            # Enable/Disable The Ender Dragon Armor Recipes
            B:enableEnderDragonArmorRecipes=true
        }

    }

    guardianarmor {

        recipes {
            # Enable/Disable The Guardian Armor Recipes
            B:enableGuardianArmorRecipes=true
        }

    }

    reinforcedarmors {

        recipes {
            # Enable/Disable The Reinforced Armors Recipes
            B:enableReinforcedArmorsRecipes=true
        }

    }

    chainarmor {

        recipes {
            # Enable/Disable The Chain Armors Recipes
            B:enableChainArmorRecipes=true
        }

    }

    chickenarmor {

        recipes {
            # Enable/Disable The Chicken Armors Recipes
            B:enableChickenArmorRecipes=true
        }

    }

    slimearmor {

        recipes {
            # Enable/Disable The Slime Armors Recipes
            B:enableSlimeArmorRecipes=true
        }

    }

}


blacklist {
    # Add Blacklisted Items to the "The Gift Of The Gods" 
    # If You add want to add an item to the blacklist 
    # You will need to replace 1 from "minecraft:dirt" to the item you want to add
    S:blackListedItems <
        armorplus:dev_helmet
        armorplus:dev_chestplate
        armorplus:dev_leggings
        armorplus:dev_boots
        minecraft:dirt
     >

    # Enable/Disable the BlackList
    B:enableBlackList=true
}


debug {
    # Enable/Disable Debug Mode
    B:debugMode=false

    # Enable/Disable Debug Mode for the Gift Of The Gods
    B:debugModeGOTG=false
}


dimensions {
    B:arpDimensionEnabled=false
    I:arpDimensionId=234
    I:dimensionId=234
}


enderdragonzombie {

    spawn {
        # Enable/Disable the Ender Dragon Zombie to spawn in the End
        B:enableEnderDragonZombieSpawnEnd=true
    }

    properties {
        # Set the Ender Dragon Zombie's Armor
        D:enderDragonZombieArmor=5.0

        # Set the Ender Dragon Zombie's Attack Damage
        D:enderDragonZombieAttackDamage=4.0

        # Set the Ender Dragon Zombie's Follow Range
        D:enderDragonZombieFollowRange=10.0

        # Set the Ender Dragon Zombie's Health
        D:enderDragonZombieHealth=20.0

        # Set the Ender Dragon Zombie's Knockback Resistance
        D:enderDragonZombieKnockbackResistance=100.0

        # Set the Ender Dragon Zombie's Movement Speed
        D:enderDragonZombieMovementSpeed=0.1
    }

    effects {
        # Enable/Disable the Ender Dragon Zombie's Withering Effect
        B:enableEnderDragonZombieWithering=true

        # Set the Ender Dragon Zombie's Withering Effect Duration
        I:enderDragonZombieWitheringEffectDuration=50

        # Set the Ender Dragon Zombie's Withering Effect Level
        I:enderDragonZombieWitheringEffectLevel=4
    }

}


flightability {
    # Enable/Disable The Armors Flight
    B:enableFlightAbility=true
}


gamemodes {
    # Sets the Recipe Difficulty 
    # 0 = easy , 1 = expert
    I:recipes=1
}


items {

    recipes {
        # Enable/Disable The ArmorPlus Arrows Recipes
        B:enableArrowRecipes=true

        # Enable/Disable The Elytra Recipe
        B:enableElytraRecipe=false

        # Enable/Disable The Redstone Apple Recipes
        B:enableRedstoneAppleRecipes=true
    }

}


mobdrops {

    enderdragon {
        # Set the amount of dropped Ender Dragon Scales that the Ender Dragon will drop
        I:enderdragonScaleDropAmount=3
    }

    witherboss {
        # Set the amount of dropped Wither Bones that the Wither Boss will drop
        I:witherBoneDropAmount=3
    }

    elderguardian {
        # Set the amount of dropped Guardian Scales that the Elder Guardian will drop
        I:guardianScaleElderDropAmount=3
    }

}


teslaitems {
    # Set the amount of Tesla that will be consumed when the item is used
    I:costAxe=10

    # Set the amount of Tesla that will be consumed when the item is used
    I:costHoe=10

    # Set the amount of Tesla that will be consumed when the item is used
    I:costPickaxe=10

    # Set the amount of Tesla that will be consumed when the item is used
    I:costShovel=10

    # Set the amount of Tesla that will be consumed when the item is used
    I:costSteelArmor=1

    # Set the amount of Tesla that will be consumed when the item is used
    I:costSword=10

    # Set the amount of Tesla that the item can input
    I:inputAxe=10

    # Set the amount of Tesla that the item can input
    I:inputHoe=10

    # Set the amount of Tesla that the item can input
    I:inputPickaxe=10

    # Set the amount of Tesla that the item can input
    I:inputShovel=10

    # Set the amount of Tesla that the item can input
    I:inputSteelArmor=10

    # Set the amount of Tesla that the item can input
    I:inputSword=10

    # Set the max capacity that the item can hold
    I:maxCapacityAxe=3000

    # Set the max capacity that the item can hold
    I:maxCapacityHoe=3000

    # Set the max capacity that the item can hold
    I:maxCapacityPickaxe=3000

    # Set the max capacity that the item can hold
    I:maxCapacityShovel=3000

    # Set the max capacity that the item can hold
    I:maxCapacitySteelArmor=3000

    # Set the max capacity that the item can hold
    I:maxCapacitySword=3000

    # Set the amount of Tesla that the item can output
    I:outputAxe=10

    # Set the amount of Tesla that the item can output
    I:outputHoe=10

    # Set the amount of Tesla that the item can output
    I:outputPickaxe=10

    # Set the amount of Tesla that the item can output
    I:outputShovel=10

    # Set the amount of Tesla that the item can output
    I:outputSteelArmor=10

    # Set the amount of Tesla that the item can output
    I:outputSword=10
}


thegiftofthegods {
    # Set the cooldown ticks until you can use The Gift Of The Gods (1 second = 20 ticks)
    I:cooldownTicks=600

    # Enable/Disable The Gift Of The Gods
    B:enableTheGiftOfTheGods=true

    # Set the max amount of uses for the item (0 = 1 use, 1 = 2 uses etc.)
    I:maxUses=1
}


weapons {
    # Enable/Disable The ArmorPlus Battle Axes's Recipes
    B:enableBattleAxesRecipes=true

    # Enable/Disable The ArmorPlus Bows's Recipes
    B:enableBowsRecipes=true

    # Enable/Disable The ArmorPlus Sword's Recipes
    B:enableSwordsRecipes=true
}


whitelist {
    # Enable/Disable the WhiteList
    B:enableWhiteList=true

    # Add WhiteListed Items to the "The Gift Of The Gods" 
    # If You add want to add an item to the whitelist 
    # You will need to replace 1 from "minecraft:dirt" to the item you want to add
    S:whiteListedItems <
        minecraft:coal
     >

    # Set the maximum amount of items that the player can get by the "The Gift Of The Gods". 
    # Note:You will need to have that many WhiteListed Items.
    I:whitelistmax=0

    # Set the minimum amount of items that the player can get by the "The Gift Of The Gods". 
    # Note:Don't change this from 0"
    I:whitelistmin=0
}


worldgeneration {

    overworld {
        # Enable/Disable The Lava Crystal World Generation in the dimension `Overworld`
        B:enableLavaCrystalOreOverworldGen=true

        # Set the max Y level of the Lava Crystal Generation in the dimension `Overworld`
        I:lavaCrystalOverworldMaxYSpawn=16

        # Set the min Y level of the Lava Crystal Generation in the dimension `Overworld`
        I:lavaCrystalOverworldMinYSpawn=6

        # Set the rarity level of the Lava Crystal Generation in the dimension `Overworld`
        I:lavaCrystalOverworldRarity=7

        # Set the vein amount of the Lava Crystal Generation in the dimension `Overworld`
        I:lavaCrystalOverworldVeinAmount=5
    }

    theend {
        # Enable/Disable The Lava Crystal World Generation in the dimension `The End`
        B:enableLavaCrystalOreTheEndGen=false

        # Set the max Y level of the Lava Crystal Generation in the dimension `The End`
        I:lavaCrystalTheEndMaxYSpawn=0

        # Set the min Y level of the Lava Crystal Generation in the dimension `The End`
        I:lavaCrystalTheEndMinYSpawn=0

        # Set the rarity level of the Lava Crystal Generation in the dimension `The End`
        I:lavaCrystalTheEndRarity=0

        # Set the vein amount of the Lava Crystal Generation in the dimension `The End`
        I:lavaCrystalTheEndVeinAmount=0
    }

    thenether {
        # Enable/Disable The Lava Crystal World Generation in the dimension `The Nether`
        B:enableLavaCrystalOreTheNetherGen=false

        # Set the max Y level of the Lava Crystal Generation in the dimension `The Nether`
        I:lavaCrystalTheNetherMaxYSpawn=0

        # Set the min Y level of the Lava Crystal Generation in the dimension `The Nether`
        I:lavaCrystalTheNetherMinYSpawn=0

        # Set the rarity level of the Lava Crystal Generation in the dimension `The Nether`
        I:lavaCrystalTheNetherRarity=0

        # Set the vein amount of the Lava Crystal Generation in the dimension `The Nether`
        I:lavaCrystalTheNetherVeinAmount=0
    }

    castlegeneration {
        # Set the spawn chance of the Castle Generation in the Overworld
        I:castleGenSpawnChance=0

        # Enable/Disable the Castle Generation
        B:enableCastleGenSpawnChance=false
    }

}


