# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableToolHarvestLevels=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    I:stoneChiselUses=8384
    I:wrenchUses=1888
}


"client preformance settings" {
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enableRightClickModeChange=false
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    B:showUsage=true
}


crafting {
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:WayofTime.bloodmagic.block.BlockBloodRune=true
    B:WayofTime.bloodmagic.block.BlockBloodStoneBrick=true
    B:WayofTime.bloodmagic.block.BlockCrystal=true
    B:WayofTime.bloodmagic.block.BlockPath=true
    B:WayofTime.bloodmagic.block.BlockRitualStone=true
    B:arc.bloodarsenal.block.BlockBloodInfusedGlowstone=true
    B:arc.bloodarsenal.block.BlockBloodInfusedIron=true
    B:arc.bloodarsenal.block.BlockBloodInfusedWoodenLog=true
    B:arc.bloodarsenal.block.BlockBloodInfusedWoodenPlanks=true
    B:"arc.bloodarsenal.block.BlockBloodInfusedWoodenSlab$BlockBloodInfusedWoodenDoubleSlab"=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPLog=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPStone=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.knoxhack.nethermetals.blocks.ModBlockOre=true
    B:com.knoxhack.nethermetals.blocks.ModBlockOre2=true
    B:com.knoxhack.nethermetals.blocks.ModBlockOre3=true
    B:crazypants.enderio.block.BlockReinforcedObsidian=true
    B:crazypants.enderio.material.BlockIngotStorage=true
    B:exter.fodc.block.BlockOreConversionTable=true
    B:exter.substratum.block.BlockDustOre=true
    B:exter.substratum.block.BlockOre=true
    B:"exter.substratum.block.SubstratumBlocks$7"=true
    B:"exter.substratum.block.SubstratumBlocks$8"=true
    B:forestry.core.blocks.BlockResourceOre=true
    B:forestry.core.blocks.BlockResourceStorage=true
    B:lumien.randomthings.block.BlockBiomeStone=true
    B:lumien.randomthings.block.BlockContactLever=true
    B:lumien.randomthings.block.BlockDyeingMachine=true
    B:lumien.randomthings.block.BlockLapisLamp=true
    B:lumien.randomthings.block.BlockQuartzLamp=true
    B:lumien.randomthings.block.BlockStainedBrick=true
    B:mcjty.deepresonance.blocks.MachineFrame=true
    B:mcjty.deepresonance.blocks.ore.DenseObsidianBlock=true
    B:mcjty.deepresonance.blocks.ore.ResonatingOreBlock=true
    B:mcjty.deepresonance.blocks.poisondirt.PoisonedDirtBlock=true
    B:mcjty.deepresonance.blocks.radiationsensor.RadiationSensorBlock=true
    B:mcjty.rftools.blocks.MachineBase=true
    B:mcjty.rftools.blocks.MachineFrame=true
    B:mcjty.rftools.blocks.ores.DimensionalShardBlock=true
    B:mcjty.rftools.blocks.teleporter.DestinationAnalyzerBlock=true
    B:mcjty.rftools.blocks.teleporter.MatterBoosterBlock=true
    B:mcjty.rftoolsdim.blocks.probe.ActivityProbeBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalBlankBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalCross2Block=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalCrossBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalPattern1Block=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalPattern2Block=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalSmallBlocks=true
    B:mod.flatcoloredblocks.block.BlockFlatColored=true
    B:mod.flatcoloredblocks.block.BlockFlatColoredTranslucent=true
    B:net.darkhax.bookshelf.block.BlockWoodenShelf=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockHugeMushroom=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableBookshelf=true
    B:techreborn.blocks.BlockMachineFrame=true
    B:techreborn.blocks.BlockOre=true
    B:techreborn.blocks.BlockOre2=true
    B:techreborn.blocks.BlockRubberPlank=true
    B:techreborn.blocks.BlockStorage=true
    B:techreborn.blocks.BlockStorage2=true
    B:vazkii.botania.common.block.BlockDreamwood=true
    B:vazkii.botania.common.block.BlockEnchantedSoil=true
    B:vazkii.botania.common.block.BlockLivingrock=true
    B:vazkii.botania.common.block.BlockLivingwood=true
    B:vazkii.botania.common.block.BlockManaBomb=true
    B:vazkii.botania.common.block.BlockStorage=true
    B:vazkii.botania.common.block.decor.Block18Stone=true
    B:vazkii.botania.common.block.decor.BlockBlaze=true
    B:vazkii.botania.common.block.decor.BlockCustomBrick=true
    B:vazkii.botania.common.block.decor.BlockEndStoneBrick=true
    B:vazkii.botania.common.block.decor.BlockPavement=true
    B:vazkii.botania.common.block.decor.BlockPrismarine=true
    B:vazkii.botania.common.block.decor.BlockReeds=true
    B:vazkii.botania.common.block.decor.BlockSeaLamp=true
    B:vazkii.botania.common.block.decor.BlockShimmerrock=true
    B:vazkii.botania.common.block.decor.BlockShimmerwoodPlanks=true
    B:vazkii.botania.common.block.decor.BlockThatch=true
    B:vazkii.botania.common.block.decor.biomestone.BlockBiomeStoneA=true
    B:vazkii.botania.common.block.decor.biomestone.BlockBiomeStoneB=true
    B:vazkii.botania.common.block.decor.quartz.BlockSpecialQuartz=true
    B:vazkii.botania.common.block.mana.BlockAlchemyCatalyst=true
    B:vazkii.botania.common.block.mana.BlockConjurationCatalyst=true
    B:vazkii.psi.common.block.BlockPsiDecorative=true
    B:vazkii.quark.building.block.BlockBark=true
    B:vazkii.quark.building.block.BlockCarvedWood=true
    B:vazkii.quark.building.block.BlockHardenedClayTiles=true
    B:vazkii.quark.building.block.BlockPolishedStone=true
    B:vazkii.quark.building.block.BlockReed=true
    B:vazkii.quark.building.block.BlockSandyBricks=true
    B:vazkii.quark.building.block.BlockSnowBricks=true
    B:vazkii.quark.building.block.BlockStainedClayTiles=true
    B:vazkii.quark.building.block.BlockWorldStoneBricks=true
    B:vazkii.quark.decoration.block.BlockBlazeLantern=true
    B:vazkii.quark.decoration.block.BlockLitLamp=true
    B:vazkii.quark.world.block.BlockBasalt=true
    B:vazkii.quark.world.block.BlockBiotite=true
    B:vazkii.quark.world.block.BlockBiotiteOre=true
}


"integration settings" {
    B:ShowBitsInJEI=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:enableAPITestingItem=false
    B:logTileErrors=false
}


