# Configuration file

##########################################################################################################
# chunkbounds
#--------------------------------------------------------------------------------------------------------#
# Settings for the chunk bounds overlay
##########################################################################################################

chunkbounds {
    # Show the middle of the current Chunk (yellow line)
    B:middle=true

    # Radius (in Chunks) to show the edges (red line)
    I:radius=1
}


##########################################################################################################
# itemsearch
#--------------------------------------------------------------------------------------------------------#
# Settings for the item search feature
##########################################################################################################

itemsearch {
    # Show 'Item Search Disabled'
    # If set to 'false' the text will only show if the Item Search is enabled
    B:disabletext=true

    # Show the 'Item Search' text only for one secound and fade out
    B:fadouttext=true
}


##########################################################################################################
# lightoverlay
#--------------------------------------------------------------------------------------------------------#
# Settings for the light / mobspawn overlay
##########################################################################################################

lightoverlay {
    # Range of the lightoverlay (negative Y)
    I:downrange=16

    # Range of the lightoverlay (Horizontal N,E,S,W)
    I:hrange=16

    # Ignore if there in no 2 Block space to spawn. (Less lag if true)
    B:ignoreLayer=false

    # Range of the lightoverlay (positive Y)
    I:uprange=4
}


