# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        -124
        26
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        83
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        76
        -50
        -56
        44
        78
        -51
        1
        114
        11
        114
        18
        -13
        -78
        -117
        117
        -109
        50
        -117
        -110
        51
        -20
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        45
        24
        24
        26
        88
        -2
        35
        -64
        -33
        -1
        -8
        -63
        95
        28
        -94
        -8
        33
        -91
        -26
        -113
        -54
        -45
        84
        30
        0
        -100
        -3
        16
        -73
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        64
        17
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        48
        120
        -38
        99
        100
        -30
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        64
        -30
        -26
        -28
        -89
        -77
        -56
        28
        97
        108
        96
        100
        24
        124
        -32
        31
        -104
        -4
        -125
        87
        -2
        31
        2
        2
        0
        109
        -30
        20
        -44
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        32
        5
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        100
        -26
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        64
        -30
        -26
        -28
        -89
        -77
        8
        32
        -72
        5
        57
        -119
        121
        -39
        -59
        76
        22
        29
        -52
        -95
        80
        -64
        48
        10
        -24
        0
        68
        -127
        -31
        44
        -75
        -118
        -127
        65
        11
        29
        47
        0
        0
        115
        54
        25
        -56
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        64
        17
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        105
        120
        -38
        99
        100
        -26
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        64
        -30
        -26
        -28
        -89
        -77
        8
        32
        -72
        5
        57
        -119
        121
        -39
        -59
        76
        14
        29
        -84
        12
        -116
        97
        83
        24
        40
        1
        -116
        2
        12
        -108
        -23
        -9
        -94
        76
        -65
        -126
        67
        3
        69
        -6
        -107
        68
        64
        -122
        -112
        -81
        -97
        107
        37
        3
        3
        19
        5
        -10
        75
        40
        50
        48
        112
        80
        -96
        95
        112
        1
        101
        -6
        -75
        88
        40
        11
        127
        14
        7
        -54
        -12
        -117
        -128
        -46
        -113
        0
        3
        0
        32
        -74
        22
        -72
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:4 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        7
        34
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        65
        120
        -38
        99
        100
        -30
        -51
        -51
        -52
        75
        77
        46
        74
        76
        43
        -79
        74
        -52
        44
        98
        -112
        44
        74
        -52
        75
        -55
        -49
        45
        -55
        -56
        -52
        75
        47
        -74
        42
        46
        73
        4
        -54
        -90
        56
        21
        101
        38
        103
        51
        48
        60
        97
        102
        96
        -8
        -1
        -97
        1
        47
        24
        -107
        31
        -22
        -14
        0
        124
        98
        48
        59
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


