# Configuration file

energy {
    # Change the amount of energy the Blaze Wire can transfer per tick [range: 0 ~ 2147483647, default: 8192]
    I:Blaze=8192

    # Change the amount of energy the Ender Wire can transfer per tick [range: 0 ~ 2147483647, default: 65536]
    I:Ender=65536

    # Change the amount of energy the Gold Wire can transfer per tick [range: 0 ~ 2147483647, default: 1024]
    I:Gold=1024

    # Change the amount of energy the Redstone Wire can transfer per tick [range: 0 ~ 2147483647, default: 128]
    I:Redstone=128
}


