# Configuration file

clientconfig {
    # How long (in ticks) it takes before control surfaces try to return to their natural angle.  
    # This is not used when using a joystick.
    I:ControlSurfaceCooldown=4

    # Dead zone for joystick axis.  
    # MFS will always use the greater of this value and the value provided by the computer.
    D:DeadZone=0.03

    # Is the starter enabled? 
    # If not, players must hit propellers to start them
    B:ElectricStart=true

    # Factor by which joystick inputs are multiplied.  
    # This controls how quickly the control surfaces change.
    I:JoystickForceFactor=15

    # Does altimiter read zero at Y=64 instead of Y=0?
    B:SeaLevelOffset=false

    # Whether or not the throttle can be put to zero and kill the engine.  
    # Only valid for joysticks.
    B:ThrottleKills=false
}


fuels {
    I:alubrass=0
    I:aluminum=0
    I:ardite=0
    I:bio.ethanol=0
    I:biomass=0
    I:blood=0
    I:blueslime=0
    I:brass=0
    I:bronze=0
    I:canolaoil=0
    I:clay=0
    I:cloud_seed=0
    I:cloud_seed_concentrated=0
    I:cobalt=0
    I:copper=0
    I:dirt=0
    I:electrum=0
    I:emerald=0
    I:fire_water=0
    I:for.honey=0
    I:glass=0
    I:gold=0
    I:hootch=0
    I:ice=0
    I:iron=0
    I:juice=0
    I:knightslime=0
    I:lava=1000
    I:lead=0
    I:lifeessence=0
    I:liquid_sunshine=0
    I:manyullyn=0
    I:nickel=0
    I:nutrient_distillation=0
    I:obsidian=0
    I:oil=0
    I:pigiron=0
    I:purpleslime=0
    I:rocket_fuel=0
    I:seed.oil=0
    I:short.mead=0
    I:silver=0
    I:steel=0
    I:stone=0
    I:tin=0
    I:water=0
    I:xpjuice=0
    I:zinc=0
}


general {
    # Factor times which engines use fuel.  
    # Change this if you think engines use fuel too fast or slow.
    D:FuelUsageFactor=1.0

    # Any item that contains these words will be counted as heavy (double mass) when considering plane mass.  
    # Change and tweak to your liking.
    S:HeavyItems=diamond, iron, gold, coal, ore, stone

    # Factor to apply to plane movement.  
    # 1 is the realistic value, but this makes planes move too fast for Minecraft. Adjust with caution.
    D:PlaneSpeedFactor=0.5

    # Factor for damage caused by a propeller.
    D:PropellerDamageFactor=1.0
}


